body > p.dbChk {
    text-align: center;
    background-color: greenyellow;
}
body > p.dbErr {
    text-align: center;
    background-color: red;
}
body > table.stock-default {
    border-bottom-color: black;
    border-style: double;
    margin: auto;
    width:50%;
    border: 3px solid green;
    margin-top: 40px;
    padding: 8px;
    padding-top: 20px;
}

body > table.stock-default:hover:nth-child(even){
    
}
td {
        text-align: center;
}
body > table tr, th, td{
    border: outset;
   
}
